---
import IconHash from "@/assets/icons/IconHash.svg";

export interface Props {
  tag: string;
  tagName: string;
  size?: "sm" | "lg";
}

const { tag, tagName, size = "sm" } = Astro.props;
---

<li
  class:list={[
    "group inline-block transition-transform duration-200 group-hover:translate-x-1",
    size === "sm" ? "my-1 underline-offset-4" : "mx-1 my-3 underline-offset-4",
  ]}
>
  <a
    href={`/tags/${tag}/`}
    transition:name={tag}
    class:list={[
      "relative text-lg underline hover:text-accent focus-visible:outline-accent",
      { "text-sm": size === "sm" },
    ]}
  >
    <IconHash
      class:list={[
        "inline-block opacity-80",
        { "me-1.5 size-4": size === "sm" },
        { "me-2 size-6": size === "lg" },
      ]}
    />
    <span>{tagName}</span>
  </a>
</li>
